<!--------------symptoms ------------->
    <div class="symptoms" id="symptoms">
      <div class="cont">
        <div class="spacial">
          <h5>WHAT ARE THE SYMPTOMS OF COVID-19 ?</h5>
          <h2>SYMPTOMS OF CORONAVIRUS</h2>
          <p>
            The most common symptoms of COVID-19 are fever, tiredness, and dry
            cough. Some patients may have aches and pains, nasal congestion,
            runny nose, sore throat or diarrhea. These symptoms are usually mild
            and begin gradually. Also the symptoms may appear 2-14 days after
            exposure.
          </p>
        </div>
        <div class="row1">
          <div class="col">
            <div class="imge">
              <h5>Fever</h5>
              <img src="./assets/image/symptom1.png" />
            </div>
            <p>
              <span>High Fever </span>
              – this means you feel hot to touch on your chest or back (you do
              not need to measure your temperature). It is a common sign and
              also may appear in 2-10 days if you affected.
            </p>
          </div>
          <div class="col">
            <div class="imge">
              <h5>Cough</h5>
              <img src="./assets/image/symptom2.png" />
            </div>
            <p>
              <span>Continuous cough </span>
              – this means coughing a lot for more than an hour, or 3 or more
              coughing episodes in 24 hours (if you usually have a cough, it may
              be worse than usual).
            </p>
          </div>
          <div class="col">
            <div class="imge">
              <h5>Shortness of breath</h5>
              <img src="./assets/image/symptom3.png" />
            </div>
            <p>
              <span>Difficulty breathing </span>
              – Around 1 out of every 6 people who gets COVID-19 becomes
              seriously ill and develops difficulty breathing or shortness of
              breath.
            </p>
          </div>
        </div>
        <div class="row2">
          <div class="col">
            <span><i class="fas fa-4x mr-2 fa-exclamation-triangle"></i></span>
            <p>
              <span>Stay at home and call your doctor:</span>
              If you think you have been exposed to COVID-19 and develop a fever
              and any symptoms, such as cough or difficulty breathing, call your
              healthcare provider as soon as possible for medical advice.
            </p>
          </div>
          <div class="col">
            <button class="btn">
              <i class="far fa-question-circle" aria-hidden="true"></i>
                Have questions? Find answers.
            </button>
          </div>
        </div>
      </div>
    </div>