<!-----------footer------------------>
<div class="footer">
  <div class="cont">
    <div class="row">
      <div class="col">
        <h2>
          C<i class="fas fa-virus text-danger" aria-hidden="true"></i>VID<span
            style="color: #4b6690"
            >19</span
          >
        </h2>
        <p>
          This website is for health information and advice about coronavirus
          (COVID-19), how to prevent and protect yourself from disease.
        </p>
        <p>Learn about the government response to coronavirus on GOV.UK.</p>
        <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href=""><i class="fab fa-twitter fa-2x"></i></a>
        <a href=""><i class="fab fa-youtube fa-2x"></i></a>
      </div>
      <div class="col2">
        <div class="coll1">
          <h6>QUICK LINK</h6>
          <a href="">About Corona</a>
          <a href="">Symptoms</a>
          <a href="">Prevention</a>
          <a href="">Protect Youself</a>
          <a href="">FAQs</a>
        </div>
        <div class="coll1">
          <h6>HELPFULL LINK</h6>
          <a href="">Healthcare Professionals</a>
          <a href="">Healthcare Facilities</a>
          <a href="">Older Adults & Medical Conditions</a>
          <a href="">Repare your Family</a>
        </div>
        <div class="coll1">
          <h6>IMPORTANT LINK</h6>
          <a href="">WHO Website</a>
          <a href="">CDC Website</a>
          <a href="">NHS Website</a>
          <a href="">Harvard Health</a>
        </div>
      </div>
    </div>
    <hr />
    <div class="row2">
      <div class="col">
        <p>
          © 2020 COVID-19. Template Made by
          <span class=""><a>Mohamed Khalaf</a></span>
        </p>
        <p>
          Disclaimer: We hope you find the information presented on this website
          useful. This website is for general information and raise awareness of
          (2019-nCoV) only. All the information based on WHO, NHS and CDC
          website. Information on our website is meant for awareness, if you
          have any doubt please verify from respective site
        </p>
      </div>
    </div>
  </div>
</div>
