<div class="treatment" id="treatment">
  <div class="cont">
    <div class="info">
      <div class="col1">
        <h5>BE CAREFULL &amp; STAY SAFE</h5>
        <h2>TREATMENT FOR CORONAVIRUS</h2>
        <p>
          <span>
            To date, there is no vaccine and no specific antiviral medicine to
            prevent or treat COVID-2019.
          </span>
          However, those affected should receive care to relieve symptoms.
          People with serious illness should be hospitalized. Most patients
          recover thanks to supportive care.
        </p>
        <p>
          Antibiotics do not help, as they do not work against viruses.
          Treatment aims to relieve the symptoms while your body fights the
          illness. You'll need to stay in isolation, away from other people,
          until you have recovered.
        </p>
      </div>
      <div class="col2">
        <div class="data">
          <h6>Self Care</h6>
          <p>
            If you have mild symptoms, stay at home until you’ve recovered. You
            can relieve your symptoms if you:
          </p>
          <ul>
            <li>
              <i class="fas fa-arrow-right" aria-hidden="true">  </i>Rest and
              sleep
            </li>
            <li>
              <i class="fas fa-arrow-right" aria-hidden="true">  </i>Keep warm
            </li>
            <li>
              <i class="fas fa-arrow-right" aria-hidden="true">  </i>Drink
              plenty of liquids
            </li>
            <li>
              <i class="fas fa-arrow-right" aria-hidden="true">  </i>Use a room
              humidifier or take a hot shower to help ease a sore throat and
              cough
            </li>
          </ul>
          <h6>Medical Treatments</h6>
          <p>
            If you develop a fever, cough, and have difficulty breathing,
            promptly seek medical care. Call in advance and tell your health
            provider of any recent travel or recent contact with travelers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------->
<div class="treatment2">
  <div class="cont">
    <div class="spacial">
      <h5>DO’S & DON’TS</h5>
      <h2>PROTECT YOURSELF</h2>
      <p>
        The best thing you can do now is plan for how you can adapt your daily
        routine. Take few steps to protect yourself as Clean your hands often,
        Avoid close contact, Cover coughs and sneezes, clean daily used surfaces
        etc. The best way to prevent illness is to avoid being exposed to this
        virus.
      </p>
    </div>
    <div class="row">
      <div class="col1">
        <div class="rows">
          <div class="text">
            <p>Avoid Close Contact</p>
          </div>
          <div class="imgandicon">
            <div class="icon">
              <i class="fas fa-lg fa-times-circle" aria-hidden="true"></i>
            </div>
            <div class="image">
              <img src="./assets/image/wrong1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rows">
          <div class="text">
            <p>Don’t Touch Face</p>
          </div>
          <div class="imgandicon">
            <div class="icon">
              <i class="fas fa-lg fa-times-circle" aria-hidden="true"></i>
            </div>
            <div class="image">
              <img src="./assets/image/wrong2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rows">
          <div class="text">
            <p>Social Distancing</p>
          </div>
          <div class="imgandicon">
            <div class="icon">
              <i class="fas fa-lg fa-times-circle" aria-hidden="true"></i>
            </div>
            <div class="image">
              <img src="./assets/image/wrong3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col2">
        <img src="./assets/image/protect.png" />
      </div>
      <div class="col1">
        <div class="rows rows2">
          <div class="imgandicon">
            <div class="image">
              <img src="./assets/image/right1.png" alt="" />
            </div>
            <div class="icon2">
              <i class="fas fa-lg fa-check-circle" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text">
            <p>Wash Your Hands</p>
          </div>
        </div>
        <div class="rows rows2">
          <div class="imgandicon">
            <div class="image">
              <img src="./assets/image/right2.png" alt="" />
            </div>
            <div class="icon2">
              <i class="fas fa-lg fa-check-circle" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text">
            <p>Drink Much Watar</p>
          </div>
        </div>
        <div class="rows rows2">
          <div class="imgandicon">
            <div class="image">
              <img src="./assets/image/right3.png" alt="" />
            </div>
            <div class="icon2">
              <i class="fas fa-lg fa-check-circle" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text">
            <p>Use Face Mask</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
