<div class="cont">
  <div class="nav">
    <div>
      <h1>
        <span>C</span><i class="fa-solid fa-virus-covid"></i><span>VID</span
        ><span class="num">19</span>
      </h1>
    </div>
    <div class="mneu">
      <a href="##">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
    <div class="links">
      <ul>
        <li><a [routerLink]="['/home']" class="activ">Home</a></li>
        <li><a [routerLink]="['/about']">About corona</a></li>
        <li><a [routerLink]="['/symptoms']">Symptoms</a></li>
        <li><a [routerLink]="['prevention']">Prevention</a></li>
        <li><a [routerLink]="['treatment']">Treatments</a></li>
        <li><a [routerLink]="['fqa']">FAQ</a></li>
        <li><a [routerLink]="['news']">News</a></li>
      </ul>
      <a href="##" class="btn">Do & Don't</a>
    </div>
  </div>
</div>
