  <!--------------transmision----------------->
    <div class="transmision">
      <div class="cont">
        <div class="spacial">
          <h5>HOW CORONAVIRUS IS SPREAD</h5>
          <h2>TRANSMISSION OF COVID-19</h2>
          <p>
            Because it's a new illness, we do not know exactly how coronavirus
            spreads from person to person. Similar viruses are spread in cough
            droplets.
          </p>
        </div>
        <div class="row">
          <div class="col">
            <img src="./assets/image/tr1.png" />
            <div class="text">
              <h5>Person-to-person spread as close contact with infected</h5>
              <p>
                The coronavirus is thought to spread mainly from person to
                person. This can happen between people who are in close contact
                with one another.
              </p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/image/tr2.png" />
            <div class="text">
              <h5>Touching or contact with infected surfaces or objects</h5>
              <p>
                A person can get COVID-19 by touching a surface or object that
                has the virus on it and then touching their own mouth, nose, or
                possibly their eyes.
              </p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/image/tr3.png" />
            <div class="text">
              <h5>Droplets that from infected person coughs or sneezes</h5>
              <p>
                The coronavirus is thought to spread mainly from person to
                person. This can happen between people who are in close contact
                with one another.
              </p>
            </div>
          </div>
        </div>
        <div class="row2">
          <button class="btn">
            <i class="fas fa-question-circle" aria-hidden="true"></i>
            <span>Have Question About Spreading?</span>
          </button>
        </div>
      </div>
    </div>