<div class="news" id="news">
  <div class="cont">
    <div class="spacial">
      <h5>RECENT FROM BLOG</h5>
      <h2>LATEST UPDATE</h2>
    </div>
    <div class="row">
      <div class="col">
        <img src="./assets/image/news1.jpg" alt="" />
        <div class="text">
          <h5>Caring for someone at home</h5>
          <p>
            Most people who get sick with COVID-19 will have only mild illness
            and should recover at home. Care at home can help stop the spread of
            COVID-19.
          </p>
        </div>
      </div>
      <div class="col">
        <img src="./assets/image/news2.jpg" alt="" />
        <div class="text">
          <h5>15 ways to keep safe and healthy</h5>
          <p>
            Most people who get sick with COVID-19 will have only mild illness
            and should recover at home. Care at home can help stop the spread of
            COVID-19
          </p>
        </div>
      </div>
      <div class="col">
        <img src="./assets/image/news3.jpg" alt="" />
        <div class="text">
          <h5>If You Think You Are Sick</h5>
          <p>
            If you are sick with COVID-19 or think you might have it, follow the
            steps below to help protect other people in your home and community
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
