<!---------------prevention--------------->
<div class="prevention" id="prevention">
  <div class="cont">
    <div class="row1">
      <div class="spacial">
        <h5>HOW TO PROTECT YOURSELF</h5>
        <h2>PREVENTION & ADVICE</h2>
        <p>
          There is currently no vaccine to prevent coronavirus disease 2019
          (COVID-19). The best way to prevent illness is to avoid being exposed
          to this virus. Stay aware of the latest information on the COVID-19
          outbreak, available on the WHO website and through your national and
          local public health authority.
        </p>
      </div>
    </div>
    <div class="row2">
      <div class="col">
        <img src="./assets/image/pre1.png" alt="" />
        <h5 class="card-title">Wash your hands frequently</h5>
        <p class="card-text">
          Regularly and thoroughly clean your hands with an alcohol-based hand
          rub or wash them with soap and water for at least 20 seconds.
        </p>
      </div>
      <div class="col">
        <img src="./assets/image/pre2.png" alt="" />
        <h5 class="card-title">Maintain social distancing</h5>
        <p class="card-text">
          Maintain at least 1 metre (3 feet) distance between yourself & anyone
          who is coughing. If you are too close, get chance to infected.
        </p>
      </div>
      <div class="col">
        <img src="./assets/image/pre3.png" alt="" />
        <h5 class="card-title">Avoid touching face</h5>
        <p class="card-text">
          Hands touch many surfaces and can pick up viruses. So, hands can
          transfer the virus to your eyes, nose or mouth and can nose or mouth
          and can make you sick.
        </p>
      </div>
      <div class="col">
        <img src="./assets/image/pre4.png" alt="" />
        <h5 class="card-title">Practice respiratory hygiene</h5>
        <p class="card-text">
          Maintain good respiratory hygiene as covering your mouth & nose with
          your bent elbow or tissue tissuetis when cough or sneeze.
        </p>
      </div>
    </div>
    <div class="row3">
      <a href="##" class="btn">
        <span>Check How To Wash Your Hand</span>
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
      </a>
      <a href="##" class="btn2">
        <span>About &nbsp;COVID-19</span>
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="cont">
    <div class="row4">
      <div class="info">
        <div class="coll">
          <h2 class="font-weight-bold mb-4">
            &nbsp; Take steps to protect others
          </h2>
          <ul>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span>Stay home if you’re sick </span>– Stay home if you are
              sick, except to get medical care.
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span> Cover your mouth and nose</span>– with a tissue when
              you cough or sneeze (throw used tissues in the trash) or use the
              inside of your elbow.
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span>Wear a facemask if you are sick</span>– You should
              wear a facemask when you are around other people (e.g., sharing a
              room or vehicle) and before you enter a healthcare provider’s
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span
                >Clean AND disinfect frequently touched surfaces daily</span
              >– This includes phones, tables, light switches, doorknobs,
              countertops, handles, desks, toilets, faucets, and sinks.
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span>Clean the dirty surfaces</span>
              – Use detergent or soap and water prior to disinfection.
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span>Stay informed about the local COVID-19 situation</span
              >– Get up-to-date information about local COVID-19 activity from
              <a href="##">public health officials.</a>
            </li>
            <li>
              <i class="fas fa-check-circle my-2" aria-hidden="true"></i>
              &nbsp;<span>Dedicated, lined trash can</span>– If possible,
              dedicate a lined trash can for the ill person. Use gloves when
              removing garbage bags, and handling & disposing of trash.
            </li>
          </ul>
        </div>
        <div class="coll2">
          <img src="./assets/image/steps.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="cont">
    <div class="row5">
      <div class="colr">
        <h2>Follow steps to wash hands</h2>
        <a href="##">
          Why do I need wash hand
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="colr2">
        <div class="col">
          <img src="./assets/image/step1.png" />
          <h6>Soap on Hand</h6>
        </div>
        <div class="col">
          <img src="./assets/image/step2.png" />
          <h6>Palm to Palm</h6>
        </div>
        <div class="col">
          <img src="./assets/image/step3.png" />
          <h6>Between Fingers</h6>
        </div>
        <div class="col">
          <img src="./assets/image/step4.png" />
          <h6>Back to Hands</h6>
        </div>
        <div class="col">
          <img src="./assets/image/step5.png" />
          <h6>Clean with Water</h6>
        </div>
        <div class="col">
          <img src="./assets/image/step6.png" />
          <h6>Focus on Wrist</h6>
        </div>
      </div>
    </div>
  </div>
</div>
