<div class="home" id="home">
  <div class="cont">
    <div class="info">
      <div class="text card">
        <div class="row1">
          <h1>CORONA</h1>
          <span
            ><h4>COVID-19</h4>
            <h3>VIRUS</h3></span
          >
        </div>
        <div class="row">
          <p>
            The coronavirus (COVID-19) was first reported in Wuhan, hubei, china
            in december 2019, the outbreak was later recognized as a pandemic by
            the World Health organization (WHO) on 11 march 2020.
          </p>
        </div>
        <div class="row2">
          <div>
            <button class="btn">
              How to protect
              <i class="fas fa-shield-alt" aria-hidden="true"></i>
            </button>
          </div>
          <div>
            <a href="##" class="aa"
              >About COVID-19
              <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="row3">
          <div class="col">
            <h6>WORLDWIDECASES</h6>
            <h4>8,949,671</h4>
          </div>
          <div class="col">
            <h6>DEATHS</h6>
            <h4>467,432</h4>
          </div>
          <div class="col">
            <h6>RECOVERED</h6>
            <h4>4,556,091</h4>
          </div>
        </div>
        <div class="row4">
          <p>* Last updated: Jun 21, 2020, 09:24 AM America/Chicago</p>
        </div>
      </div>
      <div class="image card">
        <img src="./assets/image/banner2.png" />
      </div>
    </div>
  </div>
</div>
